In [8]:
import pandas as pd
import numpy as np

In [14]:
schema_df = pd.read_csv(r'C:\Users\bivas\Downloads\developer_survey_2019/survey_results_schema.csv')
schema_df

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

In [12]:
df = pd.read_csv(r"C:\Users\bivas\Downloads\developer_survey_2019/survey_results_public.csv")
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

1.Find the average age of developers when theu wrote their first line of code.

In [15]:
schema_df[schema_df["QuestionText"] == "At what age did you write your first line of code or program? (E.g., webpage, Hello World, Scratch project)"]

        Column                                       QuestionText
14  Age1stCode  At what age did you write your first line of c...

In [17]:
age = df["Age1stCode"].dropna()

In [18]:
age.unique()

array(['10', '17', '22', '16', '14', '15', '11', '20', '13', '18', '12',
       '19', '21', '8', '35', '6', '9', '29', '7', '5', '23', '30', '27',
       '24', 'Younger than 5 years', '33', '25', '26', '39', '36', '38',
       '28', '31', 'Older than 85', '32', '37', '50', '65', '42', '34',
       '40', '67', '43', '44', '60', '46', '45', '49', '51', '41', '55',
       '83', '48', '53', '54', '47', '56', '79', '61', '68', '77', '66',
       '52', '80', '62', '84', '57', '58', '63'], dtype=object)

In [23]:
age[age == "Younger than 5 years"] = 4
age[age == "Older than 85"] = 90

In [24]:
age = age.astype(int)

In [25]:
age.mean()

15.410582650569413

Deduce the percentage of developers who knew python in each country

In [26]:
schema_df.Column.unique()

array(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer',
       'OpenSource', 'Employment', 'Country', 'Student', 'EdLevel',
       'UndergradMajor', 'EduOther', 'OrgSize', 'DevType', 'YearsCode',
       'Age1stCode', 'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot',
       'MgrMoney', 'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt',
       'FizzBuzz', 'JobFactors', 'ResumeUpdate', 'CurrencySymbol',
       'CurrencyDesc', 'CompTotal', 'CompFreq', 'ConvertedComp',
       'WorkWeekHrs', 'WorkPlan', 'WorkChallenge', 'WorkRemote',
       'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender',
       'Trans', 'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength',
       'SurveyEase'], dtype=object)

In [29]:
df2 = df.copy(deep=True)

In [30]:
df2["LanguageWorkedWith"].isna().sum()

1314

In [32]:
df2 = df2[df2['LanguageWorkedWith'].isna() != 1]

In [33]:
df2["LanguageWorkedWith"].isna().sum()

0

In [34]:
df2["knows_python"] = df2["LanguageWorkedWith"].str.contains("python", case=False, na=False).astype(int)

In [35]:
df2["dknows_python"] = df2["LanguageWorkedWith"].str.contains("python", case=False, na=False).astype(int) == 0

In [36]:
df3  = df2.groupby(["Country"]).sum()

In [37]:
df3['perct'] = (df3["knows_python"]/(df3["dknows_python"]+df3["knows_python"]))*100
df3['perct']

Country
Afghanistan                             20.512821
Albania                                 27.710843
Algeria                                 31.746032
Andorra                                  0.000000
Angola                                  50.000000
                                          ...
Venezuela, Bolivarian Republic of...    32.183908
Viet Nam                                35.454545
Yemen                                   17.647059
Zambia                                  33.333333
Zimbabwe                                35.897436
Name: perct, Length: 178, dtype: float64

Generate the report for the average salary of developers based on the continent.

In [38]:
'Salary converted to annual USD salaries using the exchange rate on 2019-02-01, assuming 12 working months and 50 working weeks.'

'Salary converted to annual USD salaries using the exchange rate on 2019-02-01, assuming 12 working months and 50 working weeks.'

In [47]:
pip install pycountry-convert

Note: you may need to restart the kernel to use updated packages.
Collecting pycountry-convert
  Using cached pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Collecting pytest-mock>=1.6.3
  Using cached pytest_mock-3.8.2-py3-none-any.whl (9.1 kB)
Requirement already satisfied: repoze.lru>=0.7 in c:\python310\lib\site-packages (from pycountry-convert) (0.7)
Requirement already satisfied: pprintpp>=0.3.0 in c:\python310\lib\site-packages (from pycountry-convert) (0.4.0)
Collecting pytest>=3.4.0
  Using cached pytest-7.1.3-py3-none-any.whl (298 kB)
Requirement already satisfied: wheel>=0.30.0 in c:\python310\lib\site-packages (from pycountry-convert) (0.37.1)
Requirement already satisfied: pycountry>=16.11.27.1 in c:\python310\lib\site-packages (from pycountry-convert) (22.3.5)
Collecting pytest-cov>=2.5.1
  Using cached pytest_cov-3.0.0-py3-none-any.whl (20 kB)
Requirement already satisfied: setuptools in c:\users\bivas\appdata\roaming\python\python310\site-packages (from pycountry>=16.11.27.1->pycountry-convert) (65.0.2)
Requirement already satisfied: colorama in c:\users\bivas\appdata\roaming\python\python310\site-packages (from pytest>=3.4.0->pycountry-convert) (0.4.5)
Collecting attrs>=19.2.0
  Using cached attrs-22.1.0-py2.py3-none-any.whl (58 kB)
Requirement already satisfied: iniconfig in c:\python310\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (1.1.1)
Requirement already satisfied: packaging in c:\users\bivas\appdata\roaming\python\python310\site-packages (from pytest>=3.4.0->pycountry-convert) (21.3)
Requirement already satisfied: py>=1.8.2 in c:\python310\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (1.11.0)
Requirement already satisfied: tomli>=1.0.0 in c:\python310\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (2.0.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in c:\python310\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (1.0.0)
Requirement already satisfied: coverage[toml]>=5.2.1 in c:\python310\lib\site-packages (from pytest-cov>=2.5.1->pycountry-convert) (6.4.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\bivas\appdata\roaming\python\python310\site-packages (from packaging->pytest>=3.4.0->pycountry-convert) (3.0.9)
Installing collected packages: attrs, pytest, pytest-mock, pytest-cov, pycountry-convert

  WARNING: Failed to write executable - trying to use .deleteme logic
ERROR: Could not install packages due to an OSError: [WinError 2] The system cannot find the file specified: 'c:\\Python310\\Scripts\\py.test.exe' -> 'c:\\Python310\\Scripts\\py.test.exe.deleteme'

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\Python310\python.exe -m pip install --upgrade pip' command.

In [51]:
import pycountry_convert as pc

def country_to_continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

In [52]:
df2=df.copy(deep=True)

In [53]:
df2['Country'].mask(df2['Country'] == 'Hong Kong (S.A.R.)', 'India', inplace=True)

In [54]:
df2.loc[df2["Country"] == "Hong Kong (S.A.R.)", "Continent"] = "Asia"

In [55]:
df2['Country'].mask(df2['Country'] == 'Libyan Arab Jamahiriya', 'Libya', inplace=True)

In [56]:
df2['Country'].mask(df2['Country'] == "Venezuela, Bolivarian Republic of...", "Venezuela", inplace=True)

In [57]:
df2 = df2[df2['Country'] != "Other Country (Not Listed Above)"]

In [58]:
df2['Country'].mask(df2['Country'] == "The former Yugoslav Republic of Macedonia", "North Macedonia", inplace=True)

In [59]:
df2['Country'].mask(df2['Country'] == "Republic of Korea",  "South Korea", inplace=True)

In [60]:
df2['Country'].mask(df2['Country'] == "Congo, Republic of the...",  "Congo", inplace=True)

In [61]:
df2.loc[df2["Country"] == "Timor-Leste","perct"] = "Asia"

In [65]:
df2['Country'].mask(df2['Country'] == "Timor-Leste",  "Vietnam", inplace=True)

In [73]:
df2['Continent'] = df2.Country.map(country_to_continent)

In [67]:
schema_df[schema_df["QuestionText"] == 'Salary converted to annual USD salaries using the exchange rate on 2019-02-01, assuming 12 working months and 50 working weeks.']

           Column                                       QuestionText
31  ConvertedComp  Salary converted to annual USD salaries using ...

In [68]:
df2 = df2[df2['ConvertedComp'].isna() != 1]

In [69]:
df2.ConvertedComp.astype(int)

2          8820
3         61000
5        366420
8         95179
9         13293
          ...
88325    130000
88326     82488
88328     68745
88329    588012
88330     22915
Name: ConvertedComp, Length: 55762, dtype: int32

In [70]:
df3 = df2.groupby("Continent").mean()

In [74]:
df3.ConvertedComp

Series([], Name: ConvertedComp, dtype: float64)

Based on this survey, what will be the most desired programming language for the year 2020?

In [75]:
df3 = df.copy(deep=True)

In [76]:
desired_lang = df3.LanguageDesireNextYear

In [77]:
desired_lang.dropna(inplace=True)

In [78]:
f_list = []
for l in desired_lang:
  x =l.split(';')
  for i in x:
	    f_list.append(i)

In [79]:
lang = pd.Series(f_list)
lang.value_counts()

JavaScript               44739
Python                   40006
HTML/CSS                 36645
SQL                      33566
TypeScript               23720
Java                     23508
C#                       22449
Bash/Shell/PowerShell    21303
Go                       17060
C++                      16856
Kotlin                   13261
PHP                      12837
C                        11143
Rust                     10497
Swift                     8800
WebAssembly               8440
Other(s):                 7912
Ruby                      7251
R                         6734
Scala                     5562
Assembly                  4659
Dart                      4429
Elixir                    3788
F#                        3521
Objective-C               2851
Clojure                   2752
Erlang                    2124
VBA                       1641
dtype: int64

Generate the report for the people who code as a hobby based on their gender and continent.

In [80]:
schema_df[schema_df.Column == "Hobbyist"]

     Column             QuestionText
2  Hobbyist  Do you code as a hobby?

In [81]:
df2.Hobbyist

2        Yes
3         No
5        Yes
8        Yes
9        Yes
        ...
88325    Yes
88326    Yes
88328    Yes
88329    Yes
88330    Yes
Name: Hobbyist, Length: 55762, dtype: object

In [82]:
df2.Hobbyist.replace('Yes',1,inplace=True)
df2.Hobbyist.replace('No',0,inplace=True)

In [83]:
df2['Gender'].mask(df2["Gender"].str.contains(";", case=False, na=False) == 1,  "OTHERS", inplace=True)
df2['Gender'].mask(df2["Gender"].str.contains(",", case=False, na=False) == 1,  "OTHERS", inplace=True)

In [84]:
z = df2.groupby(["Gender", "Continent"]).sum()

In [85]:
z.Hobbyist

Gender  Continent
Man     Africa             886
        Asia              6164
        Europe           17946
        North America    12706
        Oceania           1212
        South America     1760
OTHERS  Africa              10
        Asia                53
        Europe             170
        North America      234
        Oceania             22
        South America       10
Woman   Africa              49
        Asia               274
        Europe             848
        North America      976
        Oceania             58
        South America       71
Name: Hobbyist, dtype: int64

Generate the report for job and career satisfaction of developers based on their gender continent

In [86]:
schema_df[schema_df.Column == "JobSat"]

    Column                                       QuestionText
17  JobSat  How satisfied are you with your current job? (...

In [87]:
df2.JobSat.unique()

array(['Slightly satisfied', 'Slightly dissatisfied', 'Very satisfied',
       'Neither satisfied nor dissatisfied', 'Very dissatisfied', nan],
      dtype=object)

In [88]:
df2["Job Very satisfied"] = df2.JobSat == "Very satisfied"
df2["Job Slightly satisfied"] = df2.JobSat == "Slightly satisfied"
df2["Job Slightly dissatisfied"] = df2.JobSat == "Slightly dissatisfied"
df2["Job Neither satisfied nor dissatisfied"] = df2.JobSat == "Neither satisfied nor dissatisfied"
df2["Job Very dissatisfied"] = df2.JobSat == "Very dissatisfied"

In [89]:
z = df2.groupby(["Gender", "Continent"]).sum()

In [90]:
z[["Job Very satisfied","Job Slightly satisfied","Job Slightly dissatisfied","Job Neither satisfied nor dissatisfied","Job Very dissatisfied"]]

                      Job Very satisfied  Job Slightly satisfied  \
Gender Continent
Man    Africa                        273                     412
       Asia                         1654                    2803
       Europe                       6754                    7881
       North America                6208                    5123
       Oceania                       528                     496
       South America                 574                     767
OTHERS Africa                          1                       4
       Asia                           15                      22
       Europe                         74                      58
       North America                 106                      97
       Oceania                         8                       7
       South America                   0                       7
Woman  Africa                         21                      21
       Asia                          104                     146
       Europe                        455                     451
       North America                 756                     508
       Oceania                        35                      31
       South America                  33                      45

                      Job Slightly dissatisfied  \
Gender Continent
Man    Africa                               199
       Asia                                1524
       Europe                              3321
       North America                       2064
       Oceania                              207
       South America                        469
OTHERS Africa                                 1
       Asia                                   9
       Europe                                35
       North America                         46
       Oceania                                4
       South America                          5
Woman  Africa                                15
       Asia                                  89
       Europe                               216
       North America                        220
       Oceania                                9
       South America                         20

                      Job Neither satisfied nor dissatisfied  \
Gender Continent
Man    Africa                                            157
       Asia                                             1305
       Europe                                           2437
       North America                                    1364
       Oceania                                           144
       South America                                     308
OTHERS Africa                                              2
       Asia                                               14
       Europe                                             20
       North America                                      28
       Oceania                                             3
       South America                                       1
Woman  Africa                                             12
       Asia                                               63
       Europe                                            124
       North America                                     101
       Oceania                                             7
       South America                                      14

                      Job Very dissatisfied
Gender Continent
Man    Africa                            94
       Asia                             665
       Europe                          1435
       North America                    941
       Oceania                           95
       South America                    206
OTHERS Africa                             3
       Asia                               6
       Europe                            20
       North America                     27
       Oceania                            1
       South America                      3
Woman  Africa                            17
       Asia                              49
       Europe                            89
       North America                     87
       Oceania                            5
       South America                     10